# Ignore everything by default
*

# Allow specific files/folders
!/.github/
!/.github/**
!/source/
!/source/**
!/scripts/
!/scripts/**
!/tests/
!/tests/**
!/.gitignore
!/CHANGELOG.md
!/README.adoc
!/MIGRATION.adoc
!/dub.sdl
!/dub.selections.json
!/walkthrough.md
!/changelog-details/
!/changelog-details/**
!/package.json
!/pnpm-lock.yaml
!/antora-playbook.yml
!/homepage/
!/homepage/**
!/docs/
!/docs/**
!/assets/
!/assets/**
!/supplemental-ui-overrides/
!/supplemental-ui-overrides/**
